USE [Northwind]
GO
/****** 对象:  Table [dbo].[LYFSTATION_CORDYSROLE]    脚本日期: 08/03/2011 13:09:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LYFSTATION_CORDYSROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LYFSTATIONCODE] [varchar](100) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[ROLEDN] [varchar](100) COLLATE Chinese_PRC_CI_AS NOT NULL,
 CONSTRAINT [PK_LYFSTATION_CORDYSROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF